#sidebar .tab {
  position: absolute;
  display: inline-flex;
  padding: 1.875rem 0 .625rem;
  margin: 0;
  min-height: 1.875rem;


  .item {
    cursor: pointer;
    display: inline-flex;
    font-size: $font-size-small;
    padding: .3125rem .9375rem;
    color: var(--grey-5);

    border-radius: .625rem;
    text-align: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);

    the-transition(.2s, ease-out);

    .submenu {
      display: none;
      padding: 0;
      @extend .slide-down-in;
    }

    &:nth-child(2) {
      margin: auto .625rem;
    }

    span {
      display: none;
      word-break: keep-all;
    }

    &.active span {
      display: inherit;
    }

    &:hover {
      background-color: rgba(0,0,0,0.12);
      color: inherit;

      .submenu {
        display: block;
      }
    }

    &.active {
      @extend $color-btn;

      &:hover{
        box-shadow: 0 0 .75rem var(--color-pink);
        color: var(--grey-0);
      }
    }

    &.expand {
      background-color: rgba(0,0,0,0.05);

      .submenu {
        display: block;
      }
    }

    &::before {
      font-family-icons();
    }

    &.contents::before {
      @extend .i-list-ol:before;
    }

    &.related::before {
      @extend .i-sitemap:before;
    }

    &.overview::before {
      @extend .i-home:before;
    }

    &.active::before {
      margin-right: .3125rem;
    }
  }

}

#sidebar.affix .tab {
  padding-top: .625rem;
}
